.nav-bar {
  width: "100%";
  background-color: antiquewhite;
  display: flex;
  justify-content: center;
  align-items: center;
  height: fit-content;
}

.link {
  text-decoration: none;
}

.actions {
  min-width: 75px;
  margin: 0 8px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 7px;
  background-color: azure;
}
